input{



}

button{

border-radius: 50px;
border: none ;
padding: 10px;

background-color: pink;

color: #fff;

cursor: pointer;
transition: all 0.3s ease;

}

button:hover{

    background-color: orange;
}